{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}

{% load humanize %}
{% load static %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-blockk ww-100 hh-100" src="{% static 'img/bg_kirovets_1.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                
                    <h3>Кировец К-746М <br>Премиум</h3>
                    <h5>Трактор, который работает на результат. <br>Теперь с новым двигателем Weichai.<br>
                    Познакомьтесь с флагманом Петербургского Тракторного Завода<br></h5>
                    <a href="{% url 'car_detail' 7 %}" class="btn btn-lg btn-theme">Подробнее</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-blockk ww-100 hh-100" src="{% static 'img/bg_night.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>С НАМИ ВЕСНА<br>НАЧИНАЕТСЯ РАНЬШЕ</h3>
                    <h5>Первый в поле — первый в урожае.
                        <br>Безупречное начало нового сезона с техникой,
                        <br>которая позволяет выйти в поле точно в срок и без промедлений.<br></h5>
                        <a href="{% url 'cars' %}?preset=seeding" class="btn btn-lg btn-theme">Техника для сева и обработки</a>
                    </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/bg_tech.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Ваше поле. <br>Наша техника.<br> Идеальный результат.</h3>
                    <h5>Надежные решения для всех этапов сельскохозяйственных работ.</h5>
                    <a href="{% url 'cars' %}" class="btn btn-lg btn-theme">В КАТАЛОГ</a>
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search by Car Name" class="form-control">
                </div>

                <div class="form-group">
                    <select class="form-control search-fields" name="body_style">
                        <option selected="true" disabled="disabled">Тип техники</option>
                        {% for type in types_search %}
                          <option value="{{type}}">{{type}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control search-fields" name="model">
                        <option selected="true" disabled="disabled">Производитель</option>
                        {% for brand in brand_search %}
                          <option value="{{brand}}">{{brand}}</option>
                        {% endfor %}
                    </select>
                </div><!-- 
	
                <div class="form-group">
                    <select class="form-control search-fields" name="city">
                        <option selected="true" disabled="disabled">Location</option>
                        {% for city in city_search %}
                          <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <div class="form-group">
                    <select class="form-control search-fields" name="year">
                        <option selected="true" disabled="disabled">Год выпуска</option>
                        {% for year in year_search %}
                          <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                                <label>Цена</label>
                                <div data-min="0" data-max="{{max_price}}"  data-min-name="min_price" data-max-name="max_price" data-unit="руб" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-filter"></i> Найти
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
		
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Новая <span>техника</span></h1>
            <p>Ваше поле заслуживает первенства: современные агрегаты без единого часа в поле.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
              {% for machine in featured_cars %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'car_detail' machine.id %}" class="car-img">
                                <div class="tag-2 condition-tag bg-success">НОВЫЙ</div>
                                <div class="price-box">
                                    <span>{{machine.price | intcomma}} ₽</span>
                                </div>
                                <img class="d-block w-100" src="{{machine.photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{machine.photo.url}}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{machine.photo.url}}">
                                            </a>
                                            {% if machine.photo_1 %}
                                            <a href="{{machine.photo_1.url}}" class="hidden">
                                                <img class="hidden" src="{{machine.photo_1.url}}">
                                            </a>
                                            {% endif %}
                                            {% if machine.photo_2 %}
                                            <a href="{{machine.photo_2.url}}" class="hidden">
                                                <img class="hidden" src="{{machine.photo_2.url}}">
                                            </a>
                                            {% endif %}
                                            {% if machine.photo_3 %}
                                            <a href="{{machine.photo_3.url}}" class="hidden">
                                                <img class="hidden" src="{{machine.photo_3.url}}">
                                            </a>
                                            {% endif %}
                                            {% if machine.photo_4 %}
                                            <a href="{{machine.photo_4.url}}" class="hidden">
                                                <img class="hidden" src="{{machine.photo_4.url}}">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
			
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'car_detail' machine.id %}">{{machine.get_machinery_type_display}} {{machine.manufacturer}} {{machine.model_name}} ({{machine.year}})</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'car_detail' machine.id %}">
                                    <!--<i class="flaticon-pin"></i>{{car.state}}, {{car.city}} -->
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                
                                {% if machine.width %}
                                <li>Рабочая ширина: {{machine.width | intcomma}} м</li>
                                {%  endif %}
                                {% if machine.power %} 
                                <li>Двигатель: {{machine.engine_volume}}л   {{machine.power}} л.с. </li>
                                {% endif %}
                                
                                {% if machine.machinery_type == 'SelfPropelledSprayer' %}
                                <li>Объём бака: {{machine.tank_capacity}} л</li>
                                {% elif machine.machinery_type == 'Plow' %}
                                <li>{{machine.bodies}}-корпусной</li>
                                <li>Оборотный: {% if machine.reversible %}да{% else %}нет{% endif %}</li>
                                <li>Мин. мощность трактора: {{machine.min_power}} л.с.</li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Последние <span>поступления</span></h1>
            <p></p>
        </div>
        <div class="row">
          {% for machine in all_cars|slice:":6" %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'car_detail' machine.id %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{machine.photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    {% if machine.machinery_type == 'SelfPropelledSprayer' %}
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{machine.width | intcomma}} mi
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{machine.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{machine.tank_capacity | intcomma}} l
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </a>
			
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{machine.photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{machine.photo.url}}">
                                        </a>
                                        {% if machine.photo_1 %}
                                        <a href="{{machine.photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{machine.photo_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if machine.photo_2 %}
                                        <a href="{{machine.photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{machine.photo_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if machine.photo_3 %}
                                        <a href="{{machine.photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{machine.photo_3.url}}">
                                        </a>
                                        {% endif %}
                                        {% if machinery.photo_4 %}
                                        <a href="{{machine.photo_4.url}}" class="hidden">
                                            <img class="hidden" src="{{machine.photo_4.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'car_detail' machine.id %}">{{machine.manufacturer}} {{machine.model_name}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'car_detail' machine.id %}">
                                <i class="flaticon-pin"></i>{{machine.state}}, {{machine.city}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{machine.body_style}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">{{machine.price | intcomma}} ₽</p>
                        </div>
                    </div>
                </div>
            </div>

          {% endfor %}

        </div>
    </div>
</div>
<!-- Rent car end -->


<!-- Our team start -->
<!-- <div class="our-team content-area bg-grea-3">
    <div class="container">
        
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Team working behind maintaining the quality of our Car Dealership Website.</p>
        </div>
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
              {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{team.facebook_link}}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{team.twitter_link}}" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{team.google_plus_link}}" target="_blank" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">{{team.first_name}} {{team.last_name}}</a></h4>
                            <h5>{{team.designation}}</h5>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div> -->
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Есть вопрос?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn btn-md">Свяжитесь с нами</a>
            </div>
        </div>
    </div>
</div>

<!-- Intro section end -->







{% endblock %}
