{% extends 'base.html' %}

{% block title %}Каталог техники{% endblock %}
{% block content %}

{% load humanize %}
<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <div class="row">
                  {% for machine in machinery %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'car_detail' machine.id %}" class="car-img">
                                    <div class="tag">продается</div>
                                    <div class="price-box">
                                        <span>{{machine.price | intcomma }} ₽</span>
                                    </div>
                                    <img class="d-block w-100" src="{{machine.photo.url}}" alt="car"  style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{machine.photo.url}}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{machine.photo.url}}">
                                                </a>
                                                {% if machine.photo_1 %}
                                                <a href="{{machine.photo_1.url}}" class="hidden" >
                                                    <img class="hidden" src="{{machine.photo_1.url}}">
                                                </a>
                                                {% endif %}
                                                {% if machine.photo_2 %}
                                                <a href="{{machine.photo_2.url}}" class="hidden">
                                                    <img class="hidden" src="{{machine.photo_2.url}}">
                                                </a>
                                                {% endif %}
                                                {% if machine.photo_3 %}
                                                <a href="{{machine.photo_3.url}}" class="hidden">
                                                    <img class="hidden" src="{{machine.photo_3.url}}">
                                                </a>
                                                {% endif %}
                                                {% if machine.photo_4 %}
                                                <a href="{{machine.photo_4.url}}" class="hidden" >
                                                    <img class="hidden" src="{{machine.photo_4.url}}">
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'car_detail' machine.id %}">{{machine.manufacturer}} {{machine.model_name}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'car_detail' machine.id %}">
                                        <!-- <i class="flaticon-pin"></i>{{car.state}}, {{car.city}} -->
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    {% if machine.machinery_type == 'Tractor' %}
                                    <li>{{machine.power}} л.с.</li>
                                    <li>{{machine.engine_volume}} л</li>
                                    <li>{{machine.drive_type}}</li>
                                    <li>{{machine.transmission_type}}</li>
                                    <li>{{machine.tow_class}}</li>                                    
                                    {% if machine.machinery_type == 'SelfPropelledSprayer' %}
                                    <li>{{machine.fuel_type}}</li>
                                    <li>{{car.miles | intcomma }} miles</li>
                                    <li>{{car.transmission}}</li>
                                    <li>{{car.body_style}}</li>
                                    <li>{{car.color}}</li>
                                    <li>{{car.year}}</li>
                                    {% if machine.machinery_type == '' %}
                                    {% endif %}
                                </ul>

                            </div>
                        </div>
                    </div>
            {% endfor %}



                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                      {% if machinery.has_other_pages %}
                        <ul class="pagination">
                          {% if machinery.has_previous %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{machinery.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                          {% endif %}

                          {% for i in machinery.paginator.page_range %}
                            {% if machinery.number == i %}
                              <li class="page-item"><a class="page-link active" href="#">{{i}}</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                          {% endfor %}

                          {% if machinery.has_next %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{machinery.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                              </li>
                          {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                          {% endif %}

                        </ul>
                      {% endif %}
                    </nav>
                </div>
            </div>
			
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search Cars</h3>
                        <form action="{% url 'search' %}" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                            </div>

                            <div class="form-group">
                                <select class="form-control search-fields" name="model">
                                    <option selected="true" disabled="disabled">Тип</option>
                                    {% for type in type_search %}
                                      <option value="{{type}}">{{type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="city">
                                    <option selected="true" disabled="disabled">Location</option>
                                    {% for city in city_search %}
                                      <option value="{{city}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="body_style">
                                    <option selected="true" disabled="disabled">Производитель</option>
                                    {% for brand in brand_search %}
                                      <option value="{{brand}}">{{brand}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="year">
                                    <option selected="true" disabled="disabled">Год выпуска</option>
                                    {% for year in year_search %}
                                      <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                            <label>Цена</label>
                                            <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="руб" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow Us On:</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="https://codeastro.com/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://codeastro.com/" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://codeastro.com/" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://codeastro.com/" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="https://codeastro.com/" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
						
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}
